.getStarted{
    padding-top: 7rem;
    padding-bottom: .5rem;
}

.iframe-container-ins {
    
    margin-top: 1rem;
    margin-left: -16rem;
}

.iframe-container-ins2 {
    
    margin-top: 1rem;
    margin-left: -20rem;
}

.div2{
    margin-top: -5rem;
}