.navigation-C{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 4px;
    background-color: #F5F7F9;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;

}

.navigation-heading {
    padding-top: 6rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
}


.link {
    text-decoration: none;
    padding: 0.5rem 1rem
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.container {
    padding: 0rem 1rem;

}

.navigation {
    background-color: orange;
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    
    width: 75%;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
}

.navigation .link {
    color: white;

}