.headings-cont{
    display: flex;
    flex-direction: column;
}

.h1h{
 font-size: 32px;   
}

.h2h{
    font-size: 25.6px;   
}

.h3h{
    font-size: 22.4px;   
}   

.h4h{
    font-size: 19.2px;   
}

.h5h{
    font-size: 16px;   
}

.h6h{
    font-size: 12.8px;   
}

/* Text */
.text-small {
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0.2rem 0;
}


.text-gray {
    opacity: .8;
}

.text-center {
    text-align: center;
}