<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

</head>

<body>
  <nav class="navigationM containerM">
    <div class="nav-brandM">Wizard-UI</div>
    <ul class="list-non-bullet nav-pills">
      <li class="list-item-inlineM">
        <a class="linkM link-active" href="/home.html" class="active">Home</a>
      </li>
      <li class="list-item-inlineM">
        <a class="linkM" href="/installation.html">Documentation</a>
      </li>
      <li class="list-item-inlineM">
        <a class="linkM" href="https://github.com/rahul31agrawal/componentLibrary">Github</a>
      </li>
    </ul>
    </div>
  </nav>

  <div class="sidenav">
    <a href="/installation.html">Get Started</a>
    <a href="../Avatar/avatar.html">Avatar</a>
    <a href="../Alert/alert.html">Alert</a>
    <a href="../Badge/badge.html">Badge</a>
    <a href="../Button/button.html">Button</a>
    <a href="../card/card.html">Card</a>
    <a href="../image/image.html">Images</a>
    <a href="../input/input.html">Input</a>
    <a href="../Navigation/navigation.html">Navigation</a>
    <a href="../Grid/grid.html">Grid</a>
    <a href="../slider/slider.html">Slider</a>
    <a href="../Typography/typography.html">Typography</a>
    <a href="../Ratings/ratings.html">Ratings</a>
    <a href="../snackbar/snackbar.html">Snackbar</a>
  </div>


  </div>



  </div>

  <!-- ---------------------------------------------------------------------- -->
  
        <div class="main">
          <!-- -------------------------Typography------------------------------- -->
          <h3 class="slider-heading" id="Typography">Typography</h3>

          <div class="main-container">
            <h3 class="demo-heading">Heading demo</h3>
            <div class="avatar">
              <div class="headings-cont">
                <h1 class="h1h">This is an H1 heading</h1>
                <h2 class="h2h">This is an H2 heading</h2>
                <h3 class="h3h">This is an H3 heading</h3>
                <h4 class="h4h">This is an H4 heading</h4>
                <h5 class="h5h">This is an H5 heading</h5>
                <h6 class="h6h">This is an H6 heading</h6>
              </div>


            </div>
            <div class="iframe-container">

              <iframe class="iframe" id="avatar-iframe1"
                src="https://carbon.now.sh/embed?bg=rgba%28248%2C231%2C28%2C1%29&t=blackboard&wt=none&l=css&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Ch1%2520class%2520%253D%2520%2522h1h%2522%253EThis%2520is%2520an%2520H1%2520heading%253C%252Fh1%253E%250A%253Ch2%2520class%2520%253D%2520%2522h2h%2522%253EThis%2520is%2520an%2520H2%2520heading%253C%252Fh2%253E%250A%253Ch3%2520class%2520%253D%2520%2522h3h%2522%253EThis%2520is%2520an%2520H3%2520heading%253C%252Fh3%253E%250A%253Ch4%2520class%2520%253D%2520%2522h4h%2522%253EThis%2520is%2520an%2520H4%2520heading%253C%252Fh4%253E%250A%253Ch5%2520class%2520%253D%2520%2522h5h%2522%253EThis%2520is%2520an%2520H5%2520heading%253C%252Fh5%253E%250A%253Ch6%2520class%2520%253D%2520%2522h6h%2522%253EThis%2520is%2520an%2520H6%2520heading%253C%252Fh6%253E"
                sandbox="allow-scripts allow-same-origin">
              </iframe>


            </div>


          </div>

          <div class="main-container">
            <h3 class="demo-heading">Text Variant Demo</h3>
            <div class="avatar">
              <div class="headings-cont">
                <div class="text-small">This is a Small text</div>
                <div class="text-center"> This is Center text</div>
                <div class="text-gray">This is a Gray text</div>
              </div>
            </div>
          </div> 
          
          <div class="iframe-container">

            <iframe class="iframe" id="avatar-iframe1"
               src="https://carbon.now.sh/embed?bg=rgba%28248%2C231%2C28%2C1%29&t=blackboard&wt=none&l=css&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522text-small%2522%253EThis%2520is%2520a%2520Small%2520text%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522text-center%2522%253E%2520This%2520is%2520Center%2520alinged%2520text%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522text-gray%2522%253EThis%2520is%2520a%2520Gray%2520text%253C%252Fdiv%253E%2520%2520%2520%2520%2520%2520"
               sandbox="allow-scripts allow-same-origin">
            </iframe>
    
    
          </div>

          <footer class="footer">

            <div class="footer-header"> Made by Rahul with ❤️</div>
            <ul class="social-links list-non-bullet">
              <li class="list-item-inline"><a class="link" href="https://github.com/rahul31agrawal"><i
                    class="fab fa-github fa-2x"></i>
                </a>
              </li>
              <li class="list-item-inline"><a class="link" href="https://www.linkedin.com/in/rahul-agrawal-680507161"
                  target="_blank"><i class="fab fa-linkedin fa-2x"></i>
                </a>
              </li>
              <li class="list-item-inline"><a class="link" href="mailto:rahul31agrawal@gmail.com"><i
                    class="fas fa-envelope fa-2x"></i>
                </a>
              </li>

            </ul>

          </footer>

</body>

</html>