<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/styles.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

</head>
<body>
    <nav class="navigationM containerM">
        <div class="nav-brandM">Wizard-UI</div>
          <ul class="list-non-bullet nav-pills">
         <li class="list-item-inlineM">
         <a class="linkM link-active" href="/home.html" class="active">Home</a>
         </li>
         <li class="list-item-inlineM">
         <a class="linkM" href="/installation.html">Documentation</a>
         </li>
         <li class="list-item-inlineM">
         <a class="linkM" href="https://github.com/rahul31agrawal/componentLibrary">Github</a>
         </li>
         </ul>
         </div>
      </nav>

      <div class="sidenav">
        <a href="/installation.html">Get Started</a>
          <a href="../Avatar/avatar.html">Avatar</a>
          <a href="../Alert/alert.html">Alert</a>
          <a href="../Badge/badge.html">Badge</a>
          <a href="../Button/button.html">Button</a>
          <a href="../card/card.html">Card</a>
          <a href="../image/image.html">Images</a>
          <a href="../input/input.html">Input</a>
          <a href="../Navigation/navigation.html">Navigation</a>
          <a href="../Grid/grid.html">Grid</a>
          <a href="../slider/slider.html">Slider</a>
        </div>
        <div class="main">
             <!-- ----------------------Grid section 1-------------------------------- --> 
             <h3 class="grid-heading" id = "grid">Grid</h3>
            
             <div class="main-container">
                 <h3 class = "grid-subheading">Demo</h3>
                 <h1 class = "grid-subheading">Two column grid</h1>
                 <div class="avatar">
                   
                   <div class="two-items">
                       
                       <div class="grid-items"><p>One</p></div>
                       <div class="grid-items"><p>Two</p></div>
                       <div class="grid-items"><p>Three</p></div>
                       <div class="grid-items"><p>Four</p></div>
                       <div class="grid-items"><p>Five</p></div>
                       <div class="grid-items"><p>Six</p></div>
                       
                 </div>
                 
                 </div>
                 <div class="iframe-container">
                     
                   <iframe class = "iframe" id = "avatar-iframe1"
                   src="https://carbon.now.sh/embed?bg=rgba%28248%2C231%2C28%2C1%29&t=blackboard&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522two-items%2522%253E%250A%2520%253Cdiv%2520class%253D%2522grid-items%2522%253E%253Cp%253EOne%253C%252Fp%253E%253C%252Fdiv%253E%250A%2520%253Cdiv%2520class%253D%2522grid-items%2522%253E%253Cp%253ETwo%253C%252Fp%253E%253C%252Fdiv%253E%250A%2520%253Cdiv%2520class%253D%2522grid-items%2522%253E%253Cp%253EThree%253C%252Fp%253E%253C%252Fdiv%253E%250A%2520%253Cdiv%2520class%253D%2522grid-items%2522%253E%253Cp%253EFour%253C%252Fp%253E%253C%252Fdiv%253E%250A%2520%253Cdiv%2520class%253D%2522grid-items%2522%253E%253Cp%253EFive%253C%252Fp%253E%253C%252Fdiv%253E%250A%2520%253Cdiv%2520class%253D%2522grid-items%2522%253E%253Cp%253ESix%253C%252Fp%253E%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
                   sandbox="allow-scripts allow-same-origin">
                 </iframe>
                     
 
               </div>


               <h1 class = "grid-subheading">Three column grid</h1>
                 <div class="avatar">
                   
                   <div class="three-items">
                       <div class="grid-items"><p>One</p></div>
                       <div class="grid-items"><p>Two</p></div>
                       <div class="grid-items"><p>Three</p></div>
                       <div class="grid-items"><p>Four</p></div>
                       <div class="grid-items"><p>Five</p></div>
                       <div class="grid-items"><p>Six</p></div>
                       
                 </div>
                 
                 </div>
                 <div class="iframe-container">
                     
                   <iframe class = "iframe" id = "avatar-iframe1"
                     src="https://carbon.now.sh/embed?bg=rgba%28248%2C231%2C28%2C1%29&t=blackboard&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522three-items%2522%253E%250A%2520%253Cdiv%2520class%253D%2522grid-items%2522%253E%253Cp%253EOne%253C%252Fp%253E%253C%252Fdiv%253E%250A%2520%253Cdiv%2520class%253D%2522grid-items%2522%253E%253Cp%253ETwo%253C%252Fp%253E%253C%252Fdiv%253E%250A%2520%253Cdiv%2520class%253D%2522grid-items%2522%253E%253Cp%253EThree%253C%252Fp%253E%253C%252Fdiv%253E%250A%2520%253Cdiv%2520class%253D%2522grid-items%2522%253E%253Cp%253EFour%253C%252Fp%253E%253C%252Fdiv%253E%250A%2520%253Cdiv%2520class%253D%2522grid-items%2522%253E%253Cp%253EFive%253C%252Fp%253E%253C%252Fdiv%253E%250A%2520%253Cdiv%2520class%253D%2522grid-items%2522%253E%253Cp%253ESix%253C%252Fp%253E%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
                     sandbox="allow-scripts allow-same-origin">
                   </iframe>

               </div>
            
                
        </div>

    <footer class="footer">
    
        <div class="footer-header"> Made by Rahul with ❤️</div>
        <ul class="social-links list-non-bullet">
            <li class="list-item-inline"><a class="link" href="https://github.com/rahul31agrawal"><i class="fab fa-github fa-2x"></i>
            </a>
            </li>
            <li class="list-item-inline"><a class="link" href="https://www.linkedin.com/in/rahul-agrawal-680507161" target="_blank"><i class="fab fa-linkedin fa-2x"></i>
            </a>
            </li>
            <li class="list-item-inline"><a class="link" href="mailto:rahul31agrawal@gmail.com"><i class="fas fa-envelope fa-2x"></i>
            </a>
            </li>
            
        </ul>
    
</footer>

</body>
</html> 