<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/styles.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

</head>
<body>
    <nav class="navigationM containerM">
        <div class="nav-brandM">Wizard-UI</div>
          <ul class="list-non-bullet nav-pills">
         <li class="list-item-inlineM">
         <a class="linkM link-active" href="/home.html" class="active">Home</a>
         </li>
         <li class="list-item-inlineM">
         <a class="linkM" href="/installation.html">Documentation</a>
         </li>
         <li class="list-item-inlineM">
         <a class="linkM" href="https://github.com/rahul31agrawal/componentLibrary">Github</a>
         </li>
         </ul>
         </div>
      </nav>

      <div class="sidenav">
        <a href="/installation.html">Get Started</a>
          <a href="../Avatar/avatar.html">Avatar</a>
          <a href="../Alert/alert.html">Alert</a>
          <a href="../Badge/badge.html">Badge</a>
          <a href="../Button/button.html">Button</a>
          <a href="../card/card.html">Card</a>
          <a href="../image/image.html">Images</a>
          <a href="../input/input.html">Input</a>
          <a href="../Navigation/navigation.html">Navigation</a>
          <a href="../Grid/grid.html">Grid</a>
          <a href="../slider/slider.html">Slider</a>
        </div>
        <div class="main">
            <!-- ------------------------------------Image------------------------------ -->
          <div>
            <h3 class="avatar-heading" id = "images">Image</h3>
            <h2 class = "responsiveheading">Responsive image</h2>
            <div class="imageContainer">
                    
                
                <div>
                    <div class="component-display-box">
                        <div>
                        <img class="img-responsive" src="/pics/Hogwarts.jpg" alt="Hogwarts" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
          </div>  
         
          
    </div>  

    <div class="iframe-container">
            
        <iframe class = "iframe" id = "avatar-iframe1"
           src="https://carbon.now.sh/embed?bg=rgba%28248%2C231%2C28%2C1%29&t=blackboard&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522component-display-box%2522%253E%250A%2520%253Cdiv%253E%250A%2520%253Cimg%2520class%253D%2522img-responsive%2522%2520src%253D%2522pics%252FHogwarts.jpg%2522%2520alt%253D%2522Hogwarts%2522%2520loading%253D%2522lazy%2522%253E%250A%2520%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
           sandbox="allow-scripts allow-same-origin">
        </iframe>
        

    </div>

            <!-- ------------------------------Round Image------------------------------------ -->
  
            <h2 class = "responsiveheading">Round Image</h2>
            <div class="imageContainer2">
                    
                
                <div>
                    <div class="component-display-box">
                        <div>
                        <img class=" img-round" src="/pics/Hogwarts.jpg" alt="Hogwarts" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
          </div>  
         
          
    </div>  

    <div class="iframe-container">
            
        <iframe class = "iframe" id = "avatar-iframe1"
           src="https://carbon.now.sh/embed?bg=rgba%28248%2C231%2C28%2C1%29&t=blackboard&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522%2520img-round%2522%2520src%253D%2522pics%252FHogwarts.jpg%2522%2520alt%253D%2522Hogwarts%2522%2520loading%253D%2522lazy%2522%253E"
           sandbox="allow-scripts allow-same-origin">
      </iframe>
        

    </div>
            
                
        </div>

    <footer class="footer">
    
        <div class="footer-header"> Made by Rahul with ❤️</div>
        <ul class="social-links list-non-bullet">
            <li class="list-item-inline"><a class="link" href="https://github.com/rahul31agrawal"><i class="fab fa-github fa-2x"></i>
            </a>
            </li>
            <li class="list-item-inline"><a class="link" href="https://www.linkedin.com/in/rahul-agrawal-680507161" target="_blank"><i class="fab fa-linkedin fa-2x"></i>
            </a>
            </li>
            <li class="list-item-inline"><a class="link" href="mailto:rahul31agrawal@gmail.com"><i class="fas fa-envelope fa-2x"></i>
            </a>
            </li>
            
        </ul>
    
</footer>

</body>
</html> 