.modal-container {
    
    border: 2px solid var(--dark-black);
    background-color: var(--light-color);
    padding: 1rem;
    max-width: 40rem;
}

.modal-header {
    position: relative;
}

.modal-header>.modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--danger-color);
    background-color: var(--light-color);
    display: inline-block;
    outline: none;
    border: none;
    height: 1.8rem;
    padding: 0rem 0.7rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 500;
   
    border-radius: 0.2rem;
}

.modal-header>.modal-close-button:hover {
    color: black;
    background-color: var(--danger-color);
}

.modal-body {
    position: relative;
}

.modal-content-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.modal-content-buttons>button {
    height: 2rem;
    margin: 0 1rem;
}