<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />


</head>

<body>
    <nav class="navigationM containerM">
        <div class="nav-brandM">Wizard-UI</div>
        <ul class="list-non-bullet nav-pills">
            <li class="list-item-inlineM">
                <a class="linkM link-active" href="/home.html" class="active">Home</a>
            </li>
            <li class="list-item-inlineM">
                <a class="linkM" href="/installation.html">Documentation</a>
            </li>
            <li class="list-item-inlineM">
                <a class="linkM" href="https://github.com/rahul31agrawal/componentLibrary">Github</a>
            </li>
        </ul>
        </div>
    </nav>

    <aside class="sidenav">
        <a href="/installation.html">Get Started</a>
        <a href="/cssFiles/components/Avatar/avatar.html">Avatar</a>
        <a href="/cssFiles/components/Alert/alert.html">Alert</a>
        <a href="/cssFiles/components/Badge/badge.html">Badge</a>
        <a href="/cssFiles/components/Button/button.html">Button</a>
        <a href="/cssFiles/components/card/card.html">Card</a>
        <a href="/cssFiles/components/image/image.html">Images</a>
        <a href="/cssFiles/components/input/input.html">Input</a>
        <a href="/cssFiles/components/Navigation/navigation.html">Navigation</a>
        <a href="/cssFiles/components/Grid/grid.html">Grid</a>
        <a href="/cssFiles/components/slider/slider.html">Slider</a>
        <a href="../Typography/typography.html">Typography</a>
        <a href="../List/list.html">List</a>
        <a href="../modal/modal.html">Modal</a>
        <a href="../Ratings/ratings.html">Ratings</a>
        <a href="../snackbar/snackbar.html">Snackbar</a>

    </aside>
    <div class="main">
        <h3 class="avatar-heading" id="avatarSection">Avatar</h3>


        <div class="main-container">
            <h3 class="heading6 avatar-heading">Lists</h3>
            <h4>1. Spaced (normal lists)</h4>

            <div class="avatar">


                <ul class="listSpaced  non-bulletSpaced  list-item-inlineSpaced ">
                    <li class="list-itemSpaced ">Item 1</li>
                    <li class="list-itemSpaced ">Item 2</li>
                    <li class="list-itemSpaced ">Item 3</li>
                    <li class="list-itemSpaced ">Item 4</li>
                </ul>

            </div>
            <div class="iframe-container">

                <iframe class="iframe" id="avatar-iframe1"
                    src="https://carbon.now.sh/embed?bg=rgba%28248%2C231%2C28%2C1%29&t=blackboard&wt=none&l=css&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cul%2520class%253D%2522list%2520non-bullet%2520list-item-inline1%2522%253E%250A%253Cli%2520class%253D%2522list-item%2522%253EItem%25201%253C%252Fli%253E%250A%253Cli%2520class%253D%2522list-item%2522%253EItem%25202%253C%252Fli%253E%250A%253Cli%2520class%253D%2522list-item%2522%253EItem%25203%253C%252Fli%253E%250A%253Cli%2520class%253D%2522list-item%2522%253EItem%25204%253C%252Fli%253E%253C%252Ful%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>


            </div>




            <h4>2. Stacked List</h4>

            <div class="avatar">

                <ul class="listSpaced  non-bulletSpaced ">
                    <li class="list-itemSpaced ">Item 1</li>
                    <li class="list-itemSpaced ">Item 2</li>
                    <li class="list-itemSpaced ">Item 3</li>
                    <li class="list-itemSpaced ">Item 4</li>
                </ul>
               

            </div>
            <div class="iframe-container">

                <iframe class="iframe" id="avatar-iframe1"
                   src="https://carbon.now.sh/embed?bg=rgba%28248%2C231%2C28%2C1%29&t=blackboard&wt=none&l=css&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cul%2520class%253D%2522listSpaced%2520%2520non-bulletSpaced%2522%253E%250A%253Cli%2520class%253D%2522list-itemSpaced%2520%2522%253EItem%25201%253C%252Fli%253E%250A%253Cli%2520class%253D%2522list-itemSpaced%2520%2522%253EItem%25202%253C%252Fli%253E%250A%253Cli%2520class%253D%2522list-itemSpaced%2520%2522%253EItem%25203%253C%252Fli%253E%250A%253Cli%2520class%253D%2522list-itemSpaced%2520%2522%253EItem%25204%253C%252Fli%253E%250A%253C%252Ful%253E"
                   sandbox="allow-scripts allow-same-origin">
                </iframe>


            </div>

        </div>

        <footer class="footer">

            <div class="footer-header"> Made by Rahul with ❤️</div>
            <ul class="social-links list-non-bullet">
                <li class="list-item-inline"><a class="link" href="https://github.com/rahul31agrawal"><i
                            class="fab fa-github fa-2x"></i>
                    </a>
                </li>
                <li class="list-item-inline"><a class="link" href="https://www.linkedin.com/in/rahul-agrawal-680507161"
                        target="_blank"><i class="fab fa-linkedin fa-2x"></i>
                    </a>
                </li>
                <li class="list-item-inline"><a class="link" href="mailto:rahul31agrawal@gmail.com"><i
                            class="fas fa-envelope fa-2x"></i>
                    </a>
                </li>

            </ul>

        </footer>

</body>

</html>