.cardcontainer3{
    position: relative;
    border: 1rem;
    margin: 1rem;
    width: 250px;
    border-radius: 10px;
    
  }
  
  .ecom-img3{
    position: relative;
    height: 15rem;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    
  }
  
  .secondary-container3{
    display: flex;
    gap: 1px;
    
  }
  
  .actual-price3 {
      display: inline;
      margin-right: 4px;
      color: grey;
      text-decoration: line-through;
    }
    .disc-price3 {
      margin-right: 4px;
      display: inline;
    }
    .offer-info3 {
      margin-right: 4px;
      display: inline;
      color: darkgreen;
    }
  .card-footer3 {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: auto;
      justify-content: center;
      gap: 1rem;
    }
    .btn-link3 {
      background: transparent;
      border: 0;
      font-size: 1.2rem;
      padding: 5px 10px;
      border-radius: 5px;
    }
    .call-to-action3 {
      margin-top: 1rem;
      background-color: darkorange;
      color: var(--white);
    }
    .call-to-action3:hover {
      background-color: orange;
    }
  
    .vertical-btn3{
      width: 100%;
    }
  
  
  
    .dismiss-btn3 {
      /* background: transparent; */
      font-size: 1.2rem;
      position: absolute;
      right: .03rem;
      
    }
  
    /* text card css */
  
       .textcard-badge3 {
       
      z-index: 2;
      position: absolute;
      top: 10rem;
      left: .5rem;
      color: white;
      padding: 4px;
    }